body{
    background-size: cover;
}

img{
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-width: 3px;
}

@font-face {
    font-family: minhaFonte ;
    src: url(Jomhuria/Jomhuria-Regular.ttf);
   }

H1{
    font-family:minhaFonte;
    text-align: center;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: red;
    font-size: 80px;
}
H2{
    font-family:minhaFonte;
    text-align: center;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: red;
    font-size: 50px;
}

H3{
    font-family:minhaFonte;
    color: aliceblue;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    text-align: center;
    font-size: 70px;
}

.rodape input {
    width: 210px;
    height: 30px;
    border-radius: 10px ;
    border-color: red;
    font-size: medium;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor:grab;
}

.rodape input:hover{
    background-color: rgb(146, 146, 146); 
}

input::placeholder {
    color: black;
  }

button{
    width: 120px;
    height: 30px;
    border-color: white;
    border-radius: 10px;
    font-size: medium;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor:grab;
}

button:hover{
    background-color: red;
    color: aliceblue;
}
